* {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.card {
    height: 12.5em;
    border: 2px solid whitesmoke;
    padding:0 20px;
    background-color: white;
    display: inline-block;
    vertical-align:top;
    text-align: left;
    font-family: Lato;
    word-break: break-all;
}

.card-new {
    padding-top: 50px;
}

.card-new i {
    font-size: 2em;
}

.card-name {
    font-weight: 600;
    font-size: 1.4em;
    text-align: left;
    line-height: 1.4;
    margin-top:20px;
}

.card-detail {
    height:5.5em;
    margin: 15px 0 0;
    color: gray;
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    line-height: 150%;
    font-size: 13px;
}

.card-member {
    font-weight: 600;
}

@media screen and (min-width: 1960px) {
    .card {
        width: 16.8%;
        margin: 20px 0.5%;
    }
}

@media screen and (max-width: 1959px) {
    .card {
        width: 22%;
        margin:20px 0.6%;
    }
}

@media screen and (max-width: 1440px) {
    .card {
        width: 30%;
        margin:20px 0.8%;
    }
}

@media screen and (max-width: 1280px) {
    .card {
        height:13.5em;
    }
}

@media screen and (max-width: 1080px) {
    .card {
        width: 29.5%;
        margin:15px 1%;
        height:14em;
    }

    .card-detail {
        height:6em;
    }
}

@media screen and (max-width: 800px) {
    .card {
        margin: 10px 3%;
        width: 42%;
        height: 15em;
    }

    .card-detail {
        height:7em;
    }

    .card-name {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: 92%;
        height:10em;
    }

    .card-detail {
        margin-top:0;
        height:5em;
    }

    .card-name {
        margin: 10px 0;
    }
}