.card {
    height: 12em;
    /*width: 20%;*/
    border: 1px solid lightgray;
    /*margin:20px 1%;*/
    padding:0 1%;
    background-color: white;
    display: inline-block;
    vertical-align:top;
    text-align: left;
}

.card-name {

}

.card-detail {
    height:4em;
}

.card-member {

}

@media screen and (min-width: 1960px) {
    .card {
        width: 16.8%;
        margin: 20px 0.5%;
    }
}

@media screen and (max-width: 1959px) {
    .card {
        width: 21.5%;
        margin:20px 0.6%;
    }
}

@media screen and (max-width: 1440px) {
    .card {
        width: 29.5%;
        margin:20px 0.8%;
    }
}

/*@media screen and (max-width: 1280px) {*/
    /*.card {*/
        /*width: 27.2%;*/
    /*}*/
/*}*/

@media screen and (max-width: 1080px) {
    .card {
        width: 27%;
        margin:15px 1%;
        height:14em;
        padding: 0 2%;
    }

    .card-detail {
        height:7em;
    }
}

@media screen and (max-width: 720px) {
    .card {
        margin: 10px 1.5%;
        width: 42%;
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: 92%;
        height:10em;
    }

    .card-detail {
        height:2em;
    }
}