* {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.card {
    height: 12em;
    /*width: 20%;*/
    border: 1px solid lightgray;
    /*margin:20px 1%;*/
    padding:0 12px;
    background-color: white;
    display: inline-block;
    vertical-align:top;
    text-align: left;
    font-family: Lato;
    word-break: break-all;
}

.card-new {
    padding-top:15%;
    text-align: center;
    color: lightslategray;

}

.card-new i {
    font-size: 2em;
}

.card-detail {
    height:5.5em;
    margin: 20px 0 0;
    color: gray;
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    line-height: 150%;
    font-size: 13px;
}

.card-member {
    ;
}

@media screen and (min-width: 1960px) {
    .card {
        width: 16.8%;
        margin: 20px 0.5%;
    }
}

@media screen and (max-width: 1959px) {
    .card {
        width: 22%;
        margin:20px 0.6%;
    }
}

@media screen and (max-width: 1440px) {
    .card {
        width: 30%;
        margin:20px 0.8%;
    }
}

/*@media screen and (max-width: 1280px) {*/
    /*.card {*/
        /*width: 27.2%;*/
    /*}*/
/*}*/

@media screen and (max-width: 1080px) {
    .card {
        width: 29.5%;
        margin:15px 1%;
        height:12em;
    }

    .card-detail {
        height:6em;
    }
}

@media screen and (max-width: 800px) {
    .card {
        margin: 10px 3%;
        width: 42%;
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: 92%;
        height:10em;
    }

    .card-detail {
        height:4em;
    }
}