.modal {
    display: block;
    margin-top: 100px;
}

.modal-body{
    padding: 10px 15px;
}

.input-field {
    padding: 0 15px;
}

.Select {
    margin: 20px 0;
}

@media screen and (max-width: 960px) {
    .modal {
        margin-top: 0;
    }
}