.list-group {
    padding:10px 10%;
    text-align: left;
    display:inline-block;
    width:100%;
}

.list-container {
    text-align: center;
}

.btn-lg {
    margin: 20px 0 0 20px;
    background-color: rgb(76,34,99);
    border: none;
}

@media screen and (max-width: 1960px) {
    .list-group {
        padding:10px 10%;
    }
}

@media screen and (max-width: 1440px) {
    .list-group {
        padding:10px 4% 10px 8%;
    }
}

@media screen and (max-width: 1080px) {
    .list-group {
        padding:10px 0 10px 4%;
    }
}

@media screen and (max-width: 800px) {
    .list-group {
        padding:10px 0 10px 4%;
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: 92%;
        height:10em;
    }

    .card-detail {
        height:4em;
    }
}