.tasks{
    width: 23%;
    border-left: 2px dashed gray;
    margin:10px;
    padding:0 10px 0 20px;
    display: inline-block;
    vertical-align:top;
    text-align: left;
    min-height: 800px;
    min-width: 250px;
}

.task {
    height: 7.5em;
    /*border: 2px solid rgb(244,244,244);*/
    margin:20px 0 20px 10px;
    padding:10px;
    background-color: white;
    display: block;
    vertical-align:top;
    text-align: left;
}

.detail {
    border-radius: 5px;
    margin-top:30px;
    font-size: 0.9em;
}

.task-title {
    display: inline-block;
    font-size: 1.05em;
}

.task-description {
    margin:5px 0;
    color: gray;
}

.btn-group {
    margin: 0 0 0 5px;
    /*overwrite settings "display: block!important" in bootstrap*/
    display: inline-block!important;
}

.btn{
    padding: 6px 5px;
}

.status {
    border-radius: 15px;
    height: 20px;
}

.status p {
    margin-top: -6px;
    color: white;
    font-size: 0.8em;
}


.name {
    height: 6em;
    color: rgb(76,34,99);
    background-color: rgb(255,255,255);
    border: 1px solid rgb(244,244,244);
}

.add-new {
    color: darkgray;
    text-align: center;
}

.add-new:hover {
    border: 2px solid rgb(76,34,99);
    color: rgb(76,34,99);
}

h4 {
    text-align: center;
    line-height: 200%;
    vertical-align: center;
    /*margin-top:20px;*/
}

.new-task {
    border: 2px solid rgb(244,244,244);
    padding-top: 5%;
}

.new-task i {
    font-size:2em;

}

@media screen and (max-width: 1440px) {
    .tasks {
        width: 23.5%;
        padding: 0 0 0 10px;
    }
}

@media screen and (max-width: 1260px) {
    .tasks {
    width: 28%;
    }
}

@media screen and (max-width: 1080px) {
    .tasks {
        width: 28%;
        min-width: 280px;
    }

    .detail{
        height: 9em;
    }
}

@media screen and (max-width: 960px) {
    .tasks {
        padding:0 0 0 10px;
        width: 30%;
        min-width: 260px;
    }

    .detail{
        height: 9.5em;
    }
}

@media screen and (max-width: 760px) {
    .tasks {
        width: 48.1%;
        padding: 0;
        margin: 10px 10px 0 0;
    }

    .detail {
        height: 7em;
    }
}

@media screen and (max-width: 560px) {
    .tasks {
        width: 47%;
    }

    .detail {
        height: 11em;
    }
}

@media screen and (max-width: 560px) {
    .tasks {
        width: 98%;
        min-height: 300px;
    }

    .detail {
        height: 6.5em;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .new-task{
        padding-top: 5%;
    }
}